@import "primeicons/primeicons.css";
@import "./base.css";
@import "./layout.css";
@import "./typography.css";
@import "./transitions.css";

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 70rem;
  }
}
